@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    FILMIVERSE<br />
    BTM 2nd Stage, Bangalore - 560 076<br />
    <abbr title="Phone">Ph:</abbr>
    +91-9886009445
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@filmiverse.com">support@filmiverse.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@filmiverse.com">marketing@filmiverse.com</a>
</address>